:root {
    --main-bg-color: #ebe9e9;
    --main-color: #ebe9e9;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: var(--main-bg-color);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #232323;
}

input::placeholder {
    color: black
}

div>nav {
    display: flex;
}

.d-flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.justify_content {
    justify-content: space-between;
}

.international {
    border: 5px solid blue;
}

.margin_top {
    margin-top: 20px;
    background-color: #ebe9e9;
}

.section {
    background-color: #ebe9e9;
}

.content {
    width: 1226px;
    margin-top: 50px;
    margin-bottom: 78px;
    padding: 0 110px;   
}

.navbar {
    display: flex;
    align-items: center;
    width: 488px;
    display: flex;
    justify-content: space-between;
    height: 114px;
}

.navbar>ul {
    padding: 20px 0;
    display: flex;
    width: 488px;
    justify-content: space-between;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 20.8333px;
    line-height: 25px;
    color: #646467;
}

.navbar>ul>li>a {
    color: #646467;
}

.navbar>ul>li:first-child>a{
    color: #232323;
}

.button__style {
    height: 50px;
    width: 190px;
    border: 3px solid black;
    border-radius: 5px;
}

.button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 20.8333px;
    line-height: 25px;
    background-color: var(--main-bg-color);
}

.main {
    width: 1226px;
    margin-top: 50px;
    margin-bottom: 159px;
    padding: 0 110px;
}

.main_textbar {
    height: 419px;
}

.main_textbar>.header {
    width: 458px;
    height: 247px;
    font-size: 81.4318px;
    line-height: 81px;
    margin-bottom: 22px;
}

.header {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    color: #232323;
}

.header__size {
    font-size: 81.4318px;
    line-height: 81px;
}

.parag {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}

.main_textbar>.parag {
    width: 456px;
    height: 60px;
    font-size: 16.657px;
    line-height: 20px;
    margin-bottom: 40px;
}

span>button {
    width: 256px;
    height: 54px;
    border: 3px solid black;
    border-radius: 5px;}

span>.button {
    background-color: black;
    color: #ebe9e9;
    border-radius: 5px;
}

.mountain_img {
    width: 662px;
    height: 419px;
}

.travel_logs {
    display: block;
    background-color: #181818;
    color: var(--main-color);
    margin: 0 auto;
    text-align: center;
}

.travel_logs>.button {
    border-radius: 5px;
}

.travel_logs>.parag {
    width: 469px;
    height: 60px;
    font-size: 16.6421px;
    line-height: 20px;
}

.header__color {
    color: #E9E7E7;
}

.header__size:nth-child(1) {
    width: 468px;
    height: 112px;
    font-size: 55.3643px;
    line-height: 55px;

}

.center {
    margin: 0 auto;
}

.travel_logs>h2 {
    padding-top: 45px;
    padding-bottom: 20px;
    text-align: center;
}
.travel_logs>p {
    padding-bottom: 38px;
    text-align: center;
}

.secont_header {
    width: 468px;
    height: 112px;
    font-family: 'Cardo';
    font-weight: 700;
    font-size: 55.3643px;
    line-height: 55px;
    margin-bottom: 20px;
}

.travel_logs>.button {
    background-color: #181818;
    color: #E9E7E7;
    border: 3px solid var(--main-color);
    height: 50px;
    width: 240px;
    margin-bottom: 70px;
}

.button_travel_logs {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 20.8377px;
    line-height: 25px;
    border: 3px solid var(--main-color);
    color: var(--main-color);
    margin: 0 45px 45px 45px;
    border-radius: 4px;
    padding: 15px 45px;

}

.img_section {
    margin-top: 166px;
}

.img_section>.header {
    width: 260px;
    height: 75px;
    font-size: 36.5036px;
    line-height: 37px;
    margin-bottom: 28px;
}

.img_section>p {
    width: 392px;
    height: 60px;
    font-size: 16.6421px;
    line-height: 20px;
    margin-bottom: 160px;
}

.img_section>img {
    margin-bottom: 40px;
    width: 100%;
}

.border {
    width: 60px;
    border-bottom: 4px solid #232323;
    margin-bottom: 30px;
}

.plain_section {
    align-items: center;
    text-align: center;
}

.plain_img {
    display: block;
    margin: 80px auto 62px auto;
}

.plain_section>.header {
    width: 807px;
    height: 196px;
    font-size: 97.5014px;
    line-height: 98px;
    margin: 0 auto;
}

.plain_section>.parag {
    width: 677px;
    height: 30px;
    font-weight: 900;
    font-size: 24.9495px;
    line-height: 30px;
    margin: 68px auto 269px auto;
}

.change_text {
    font-style: oblique;
    border-bottom: 7px solid #232323;
}

.two_mountain {
    display: flex;
    height: 776px;
    justify-content: space-between;
}

.two_mountain_body {
    width: 599px;
}

.two_mountain_body>img {
    margin-bottom: 80px;
}

.header>p {
    width: 266px;
    height: 256px;
    font-size: 36.5099px;
    line-height: 50px;
    text-decoration: underline;
}

.size>p {
    font-size: 16.645px;
    line-height: 20px;
}
.size {
    height: 235px;
}

.size:first-child>p{
    margin-bottom: 20px;
}

.arrow {
    margin-top: 60px;
    float: right;
    width: 200px;
    height: 65px;
}

.section:nth-child(4) {
    background-color: #181818;
    height: 950px;
    position: relative;
}

.section:nth-child(4)>.you_like_section_img {
    align-self: center;
}

.section:nth-child(4)>.content {
    padding-top: 155px;
}

.you_like_section_textbar {
    color: var(--main-color);
    height: 564px;
}

.you_like_section_textbar>.header {
    font-weight: 700;
    font-size: 55.4136px;
    line-height: 55px;
    width: 486px;
    height: 112px;
    margin-bottom: 105px;
    color: var(--main-color)
}



.parag>h3 {
    font-weight: 900;
    font-size: 25.0223px;
    line-height: 30px;
    margin-bottom: 25px;
}


.parag>p {
    font-weight: 400;
    font-size: 16.657px;
    line-height: 20px;
    width: 483px;
}

.parag:first-child>p {
    margin-bottom: 60px;
}

.parag:last-child>p {
    margin-bottom: 155px;
}

.margin_bottom {
    margin-bottom: 155px;
}

.you_like_section_img {
    width: 757px;
    height: 562px;
    display: block;
    position: absolute;
    margin-top: 66px;
    right: 0;
}

.section:nth-child(5)>.content {
    padding-top: 155px;
}

.you_like_section_textbar {
    height: 516px;
}

.list_section_textbar>.header {
    width: 771px;
    height: 164px;
    font-size: 81.4292px;
    line-height: 81px;
}

.list_section_paragbar {
    margin-top: 140px;
}

.list_section_paragbar>.d-flex>.parag {
    width: 516px;
    height: 20px;
    font-weight: 400;
    font-size: 16.6564px;
    line-height: 20px;
}

.list_section_paragbar>.d-flex {
    justify-content: space-between;
    width: 700px;
    align-items: center;
    border-bottom: 2px solid #232323;
    height: 50px;
}

.list_section_paragbar>.d-flex:first-child {
    border-top: 2px solid #232323;
}

.plus {
    /* display: inline-block;
    width: 50px;
    height: 50px;
    background:
        linear-gradient(#000, #000),
        linear-gradient(#000, #000);
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    background-repeat: no-repeat; */
    width: 30px;
    height: 3px;
    background-color: black;
}

.plus::before{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
    margin-left: 2px;
    margin-top: -1px;
}

.customer_section{
    margin-top: 235px;
    height: 779px;
}

.customer_section>.header {
    width: 660px;
    height: 164px;
    font-size: 81.4292px;
    line-height: 81px;
    text-align: center;
    margin: 0 auto;
}

.customer_comment {
    margin-top: 73px
}

.customer_comment_block {
    border: 3px solid #232323;
    border-radius: 5px;
    width: 360px;
    height: 430px;
    text-align: center;
    background-color: var(--main-bg-color);
}

.man {
    background-color: #232323;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 60 auto;
    overflow: hidden;
}

.man::after{
    content: " ";
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--main-bg-color);
    top: 20%;
    left: 36%;
}

.man::before {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    position: absolute;
    top: 54%;
    left: 18%;
}

.customer_comment_block_img {
    margin: 60px auto;
}

.customer_comment_block>.header {
    width: 206.03px;
    height: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 25.0223px;
    line-height: 30px;
    margin-bottom: 15px;
    margin: 0 auto;
}

.customer_comment_block>.parag {
    width: 337px;
    height: 361px;
    font-weight: 400;
    font-size: 16.657px;
    line-height: 20px;
    margin-top: 20px;
    color: #6D6D6D;
}

.arrow_left {
    position: relative;
    margin-left: -370px;
    margin-top: -500px;
}

.arrow_left_img {
    position: relative;
}

.arrow_right {
    position: relative;
    margin-top: -500px;
    margin-right: -325px;
    width: 100px;
}

.arrow_right_img {
    position: relative;
    margin-right: -615px;
}

.updated_seccion {
    margin-top: 169px;
}

.updated_seccion_textbar>.header {
    width: 464px;
    height: 82px;
    font-size: 81.5182px;
    line-height: 82px;
    color: #232323;
}

.input {
    margin-top: 60px;
}

.text_area {
    height: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20.841px;
    line-height: 17px;
    background-color: #E9E7E7;
    border: 3px solid black;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: -px;
    width: 450px;
}

.text_area_other {
    padding-left: 10px;
    padding-top: 10px;
    color: #232323;
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20.841px;
    line-height: 17px;
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100%;
}

.other_height {
    height: 284px;
    width: 455px;
    text-align: left;
    color: #232323;
}

.other_height>textarea {
    color: black;
}

textarea::-webkit-input-placeholder {
    color: #232323;
}

.button>button {
    margin-top: 50px;
    text-align: center;
    width: 463px;
    height: 66px;
    font-weight: 400;
    font-size: 25.0203px;
    line-height: 17px;
    color: #E9E7E7;
    background-color: #000;
    border: 3px solid black;
    border-radius: 5px;
}

.group_eight_img_section {
    width: 666px;
    height: 730px;

}

.group_eight_img {
    display: block;
}

.section:nth-child(6) {
    background-color: #c6c6c6;
    margin-top: 215px;
    height: 575px;
}

.group_nine_margine_top {
    padding-top: 110px;
    display: flex;
}

.group_nine_margine_top>.header {
    width: 261px;
    height: 128px;
    font-size: 63.4175px;
    line-height: 63px;
}

.group_nine_quick_link {
    margin-left: 90px;
}

.group_nine_quick_link>.header {
    width: 156px;
    height: 50px;
    font-size: 24.993px;
    line-height: 50px;
}

.group_nine_quick_link>.d-flex {
    justify-content: space-between;
}

.link_section {
    width: 158px;
    height: 152px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20.8275px;
    line-height: 50px;

}

.block {
    display: block;
    margin-top: 10px;
}

.margin_left {
    margin-right: 35px;
}

.footer {
    width: 445px;
    height: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20.8333px;
    line-height: 50px;
    margin-left: 30px;
    margin-top: 115px;
}